<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>repl.it</title>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Import our custom css -->
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="app">
      <div
        class="container center white-background padding move-down z-depth-4"
      >
        <div class="row">
          <div class="col s12 input-field">
            <label htmlFor="firstName">Value To Convert</label>
            <input type="text" v-model="userInput" />
          </div>
        </div>
        <div class="row">
          <div class="col s12 m4">
            <button class="btn" @click="convertBinaryToDecimal">
              Convert To Decimal
            </button>
          </div>
          <div class="col s12 m4">
            <button class="btn" @click="convertDecimalToBinary">
              Convert To Binary
            </button>
          </div>
          <div class="col s12 m4">
            <button class="btn" @click="iTrippleEFormat">
              Convert To IEEE 754 Format
            </button>
          </div>
        </div>
      </div>

      <div
        v-if="showIEEE"
        class="row container center white-background move-down padding z-depth-4"
      >
        <div class="col s12">
          <h5 v-for="operation in iEEEOperationsArr">
            {{ operation }}
          </h5>
          <table class="centered responsive-table striped">
            <thead>
              <tr>
                <th>Sign bit</th>
                <th>Exponent</th>
                <th>Mantissa</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>{{ signBit }}</td>
                <td>{{ exponent }}</td>
                <td>{{ mantissa }}</td>
              </tr>
            </tbody>
          </table>
          <h4>Final answer = {{ output }}</h4>
        </div>
      </div>

      <div
        v-else-if="showDecimalValue"
        class="row container center white-background move-down padding z-depth-4"
      >
        <div class="col s12">
          <h3 v-for="operation in binaryToDecimalConversionArr">
            {{ operation }}
          </h3>
          <h1>{{ output }}</h1>
        </div>
      </div>

      <div
        v-else-if="showBinaryValue"
        class="row container center white-background move-down padding z-depth-4"
      >
        <h3 v-for="operation in decimalToBinaryConversionArr">
          {{ operation }}
        </h3>
        <div class="col s12">
          <h1>{{ output }}</h1>
        </div>
      </div>
    </div>

    <!-- Import Vue into our project -->
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <!-- script tag our custom javascript -->
    <script src="script.js"></script>
    <!--Script tag for materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
