<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>repl.it</title>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Import our custom css -->
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="app">
      <div
        class="container center white-background padding move-down z-depth-4"
      >
        <div class="row">
          <div class="col s12 input-field">
            <label htmlFor="firstName">Value To Convert</label>
            <input type="text" v-model="userInput" />
          </div>
        </div>
        <div class="row">
          <div class="col s12 m4">
            <button class="btn" @click="convertBinaryToDecimal">
              Convert To Decimal
            </button>
          </div>
          <div class="col s12 m4">
            <button class="btn" @click="convertDecimalToBinary">
              Convert To Binary
            </button>
          </div>
          <div class="col s12 m4">
            <button class="btn" @click="iTrippleEFormat">
              Convert To IEEE 754 Format
            </button>
          </div>
        </div>
      </div>

      <div
        v-if="showIEEE"
        class="row container center white-background move-down padding z-depth-4"
      >
        <div class="col s12">
          <h3>{{ output }}</h3>
        </div>
      </div>

      <div
        v-else-if="showDecimalValue"
        class="row container center white-background move-down padding z-depth-4"
      >
        <div class="col s12">
          <h3 v-for="operation in binaryToDecimalConversionArr">
            {{ operation }}
          </h3>
          <h1>{{ output }}</h1>
        </div>
      </div>

      <div
        v-else-if="showBinaryValue"
        class="row container center white-background move-down padding z-depth-4"
      >
        <h3 v-for="operation in decimalToBinaryConversionArr">
          {{ operation }}
        </h3>
        <div class="col s12">
          <h1>{{ output }}</h1>
        </div>
      </div>
    </div>

    <!-- Import Vue into our project -->
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>

    <script>
      new Vue({
        el: '#app',
        data: {
          userInput: '',
          output: '',
          showIEEE: false,
          showDecimalValue: false,
          showBinaryValue: false,
          binaryToDecimalConversionArr: [],
          decimalToBinaryConversionArr: []
        },
        computed: {},
        methods: {
          convertBinaryToDecimal: function() {
            // reset the binaryToDecimalConversion array to be empty to get rid of previous values
            this.binaryToDecimalConversionArr = []
            // We will add values to this number
            let finalValue = 0
            // This will be the temporary value of the powers and will be used in our string array
            let currentValue = 0
            // Will hold all the binary values in an array so we can iterate over it
            let binaryInArray = [...this.userInput].reverse()
            // iterate over the array and if the index == 1 then do the power of 2 to i
            for (let i = 0; i < binaryInArray.length; i++) {
              if (binaryInArray[i] == '1') {
                finalValue += Math.pow(2, i)
                currentValue = Math.pow(2, i)
                this.binaryToDecimalConversionArr.push(
                  `2 to the power of ${i} = ${currentValue}`
                )
              }
            }
            // set the user input data field to be equal to the result of this function
            this.output = finalValue
            // set the input field to the value of the conversion
            this.userInput = this.output

            // set other show boolean values to false
            this.showBinaryValue = false
            this.showIEEE = false

            // set show decimal boolean to true
            this.showDecimalValue = true
          },
          convertDecimalToBinary: function() {
            // reset the decimalToBinaryConversion array to be empty to get rid of previous values
            this.decimalToBinaryConversionArr = []
            // Convert input to an int and lets check for some edge cases
            let int = parseInt(this.userInput, 10)
            // Create an array to hold all the binary values
            const binaryValues = []
            while (int != 0) {
              // We know the modulus of int will either be 1 or 0
              // We will take that value and unshift it to binaryValues
              binaryValues.unshift(int % 2)
              // Lets add some operations to our array
              this.decimalToBinaryConversionArr.push(
                `2 goes into ${int} ${Math.floor(
                  int / 2
                )} times with a remainder of ${int % 2}`
              )
              // Lets divide int by 2 to get the next value we will perform modulus 2 on
              // in case the result of int / 2 is not even we will need to perform math.floor so we get a whole number
              int = Math.floor(int / 2)
            }
            // lastly return our array and join it to a string
            this.output = binaryValues.join('')
            // set the user input equal to the output
            this.userInput = this.output

            // set other boolean values to false
            this.showIEEE = false
            this.showDecimalValue = false
            // Change show binary value to true
            this.showBinaryValue = true
          },
          iTrippleEFormat: function() {
            if (!this.userInput.includes('.')) {
              this.output =
                'You have not entered a floating point value please try again.'
            }

            // set other boolean values to false
            this.showBinaryValue = false
            this.showDecimalValue = false
            // toggle iEEE back and forth between true and false
            this.showIEEE = true
          }
        }
      })
    </script>

    <!-- script tag our custom javascript -->
    <script src="script.js"></script>
    <!--Script tag for materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
